.o-vertical-align-top{
  vertical-align: top;
}

.o-vertical-align-baseline{
  vertical-align: baseline;
}

.o-vertical-align-bottom{
  vertical-align: bottom;
}

.o-vertical-align-middle{
  vertical-align: middle;
}

.o-text-align-left{
  text-align: left;
}

.o-text-align-center{
  text-align: center;
}

.o-text-align-right{
  text-align: right;
}

.o-full-height{
  height: 100%;
}

.o-full-width{
  width: 100%;
}