@mixin generateGrid($number, $padding, $min_width: false, $max_width: false, $prefix: false){
  .o-row{
    font-size: 0;
  }
  @if not($min_width){
    //@media (max-width: $max_width){
      @for $i from 1 through $number{
        .o-grid-#{$prefix}-#{$i}{
          width: ($i/$number)*100%;
          display: inline-block;
          padding-right: $padding;
          padding-left: $padding;
        }
      }
    //}
  }
  @else if not($min_width && $max_width){
    @for $i from 1 through $number{
      .o-grid-#{$i}{
        width: ($i/$number)*100%;
        display: inline-block;
        padding-right: $padding;
        padding-left: $padding;
      }
    }
  }
  @else if not($max_width){
    @media (min-width: $min_width){
      @for $i from 1 through $number{
        .o-grid-#{$prefix}-#{$i}{
          width: ($i/$number)*100%;
          display: inline-block;
          padding-right: $padding;
          padding-left: $padding;
        }
      }
    }
  }
  @else if ($min_width && $max_width){
    @media (min-width: $min_width) and (max-width: $max_width){
      @for $i from 1 through $number{
        .o-grid-#{$prefix}-#{$i}{
          width: ($i/$number)*100%;
          display: inline-block;
          padding-right: $padding;
          padding-left: $padding;
        }
      }
    }
  }
  @else{

  }
}