.o-content{
  background: $bright-light;
  min-height: 1000px;
  padding-top: 70px;
}

.c-columns{
  vertical-align: top;
}

.c-column{
  background:     $bright-lighter;
  border-radius:  3px;
  border-bottom:  1px solid $bright-dark;
}

.c-column__image{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.c-column__content{
  padding: 10px 15px;
}

.c-teaser_box{
  height: 40px;
}

.c-teaser_box__item{
  height: 100%;
  padding: 8px 33px 0 33px;
}