.c-search{

}

.c-search__box{
  background: #FFFFFF;
  padding: 10px;
  border-radius: 3px;
  color: $grey;

  //-webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.6);
  //-moz-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.6);
  //box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.6);
}